.navbar {
    background-color: #F1BE48;
}

.myDropdown {
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: black;
    --bs-nav-link-disabled-color: black;
    font-size: calc(1.275rem + 0.3vw);
    font-weight: 500;
    padding-bottom: 5px;
    align-items: center;
}

.basicFooter {
    background-color: #F1BE48;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
}

.BottomLogo {
    margin-right: 20px;
    float: left;
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.basicBackground {
    background-color: #C8102E;
    /* can change height to make the red go further */

}

.albumStyle {
    --bs-bg-opacity: 1;
    padding-bottom: 100px;
}

/* for about us page */
.myContainer {
    margin-bottom: 65px;
}

.indexMain {
    height: auto;
    display: flex;
}

.filterDiv {
    width: 20%;
    height: fit-content;
    background-color: aliceblue;
    height: auto;
    border-radius: 6px;
    margin: 50px;
    min-width: 130px;
    padding: 17px;
    margin-right: 25px;

}

.filterTitle {
    text-align: center;
    text-decoration: double underline;
}

.filterbyFilters {
    text-decoration: underline;
    text-align: center;
}

.filterStyle {
    text-decoration: double underline;
}

.TruckDiv {
    width: 80%;
    height: fit-content;
    background-color: aliceblue;
    border-radius: 6px;
    margin: 50px;
    padding: 17px;
    float: right;
    margin-left: 25px;
    min-width: 450px;
}

.homeLogoSize {
    width: 80px;
}

.Storelogo {
    width: 80px;
    height: 80px;
}

.logoDiv {
    width: 80px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;

}

.mapDiv {
    background-color: #C8102E;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 100px;
}

.map {
    display: block;
    width: 100%;
    object-fit: contain;
    justify-content: center;
}

.AlignText {
    /* this is going to need work */
    /* currently the spot changes depending on zoom of the page */
    /* easy solution wout be to just have multiple pictures, or could try the google maps api (hard) */
    position:relative;
    top: 0%;
    left: 100%;
    transform: translate(-70%,  500%);
}
.map-Image {
    width: 100%;
}

.facebookStyle {
    border:none;
    overflow:hidden;
}

.fixedFacebookWidth {
    width: 351px;
}

.trucksMargin {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    max-width: 1300px;
}

.smallerCardPadding {
    padding: 4px
}

.firstTruckCol {
    width: 250px;
}

.firstTruckCardPadding {
    padding:4px;
}

.truckMiddleSize {
    width: 53%;
}

.bottomBar {
    display: inline-block;
    background-color: aliceblue;
    margin: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: left;
    min-width: 250px;
}

.bottomBarLinks {
    width: fit-content;
    display: grid;

}

.BottomLogo {
    padding: 10px;
    float: left;
    max-width: 150px;
    max-height: 150px;
    vertical-align: middle;
}

.TrucksFooter {
    background-color: #F1BE48;
    padding-top: 1px;
}

.homeStoreName {
    margin-left: 20px;
}

.truckTitle {
    padding-right: 0px;
    max-width: 190px; 
    box-sizing:content-box
}

.ratings {
    padding-right: 0px;
    ;
}

.dontBeAButton {
    border-width: 0;
    background-color: "aliceblue"
}